#leftside{
    background-color:#465362;
    color: wheat;
    height: 150%;
    width: 88%;
    border-radius: 5px;
    
}

#rightside {
    padding: 15px;
    margin-left: auto;
    width: 10%;
    z-index: 1;
    background-color: #cfccd6;
    border-radius: 5px;
}

.interior.right {
    opacity: 0;
}

.interior {
    padding: 15px 0px 15px 0px;
}